/* Import Font Family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #777777;
}
.my-container {
  width: 88%;
  margin: 0 auto;
}
.carousel-overlay {
  background-color: rgba(29, 29, 29, 0.7);
  top: 0;
  right: 0;
}
.feedback-ratting {
  font-size: 24px;
  color: #f59e0b;
}
.feedback-prev,
.feedback-next {
  height: 45px;
  width: 45px;
  font-size: 30px;
  border-radius: 50%;
}
.social-icons {
  background-color: #2c3034;
  height: 35px;
  width: 35px;
  font-size: 16px;
}
.xs-font {
  font-size: 14px;
  line-height: 21px;
}
